name: Run tests
on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

permissions: read-all
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Format
        run: |
          cargo fmt --check
      - name: Build
        run: |
          cargo build --profile release
      - name: Run all tests
        run: |
          cargo test --all-features --profile release
