name: Run tests
on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

permissions: read-all
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Format
        run: |
          cargo fmt --check
      - name: Build
        run: |
          cargo build --profile release
      - name: Run all tests
        run: |
          cargo test --all-features --profile release
